.container{
  display: flex;
  margin: 100px;
}

.countryContainer, .flagContainer{
  margin-left: 250px;
}

.countryList{
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}

.searchText{
  width: 200px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

li{
  list-style-type: none;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}

li:hover, .countryList:hover{
  background-color: #00c4ff;
}

.subHeading{
  color: gray;
  margin: 5px;
}

.clearButton{
  background-color: #00c4ff;
  border: 1px solid gray;
  width: 100px;
  padding: 10px;
}

.flag{
  margin: 5px;
  font-size: 55px;
}